section {
    padding-inline: 5rem;
}

.map-container {
    position: relative;
    display: inline-block;
    text-align: center;
}
.map-container img {
    max-width: 100%;
}
.map-container .marker {
    position: absolute;
    transform: translate(-50%, -50%);
}

.navbar{
    justify-content: space-evenly !important;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
}
.hero .carousel-item {
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.hero .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hero .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    align-content: center;
}

.hero h1{
    font-size: 6rem;
    font-weight: bolder;
}
